body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow: hiden
}

/* HEADER */
.headerSignInRow {
    background: #575757;
    padding: 20px 150px 0 150px;
}
.headerSignInRow p {
    display: inline-block;
    color: rgba(255, 255, 255, 0.919);
    font-size: 0.9em;  
}
.headerSignIn {
    list-style: none;
    display: inline-block;
    float: right;
}
.headerSignIn li {
    color: rgba(255, 255, 255, 0.919);
    display: inline;
    margin: 10px;
}
.headerSignIn a {
    text-decoration: none;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.919);  
    letter-spacing: 2px;  
    font-size: 0.9em;
}
.signFa {
    font-size: 1.2em;
}
.modalHeader p {
color: rgb(19, 19, 19);
font-size: 1.3em;
margin-bottom: 0;
font-weight: bold;
}
.modalHeader a {
    color: grey;
    font-weight: bolder;
}
.modalBody {
    color: #363636;
}
.modalBody input {
    width: 96%;
    height: 40px;
    border:1px solid #cacaca;
    margin: 10px;
padding-left: 20px;
}
.modalBody input:focus {
    box-shadow: 0px 0px 9px 2px #00CCAA;
    border: none;
}
.modalBody button {
 color: #00CCAA;
 border: 1px solid #00CCAA;
 background: transparent;
 padding: 7px 15px;
 margin-top: 10px;
 margin-bottom: 20px;
}
.modalBody p {
    color: #727272;

}
.headerSocial {
    list-style: none;
    display: inline-block;
    float: right;
    margin-top: -15px;
    margin-bottom: 0;
}
.headerSocial li {
    
    display: inline-block;
    margin: 10px;
}
.headerSocial li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.522);
}
.faCircle {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faCircle:hover {
    background: #00CCAA;
    color: white;
}
@media only screen and (max-width: 768px) {
    .headerSignInRow {
        padding: 15px 20px 10px;
    }
    .headerSignInRow p {
        font-size: 0.6em;
    }
    .headerSignIn a{
        font-size: 0.8em;
    }
    .headerSocial li {
        margin: 0;
    }
    .headerSocial {
        padding-left: 10px;
        margin-top: -6px;
    }
    .headerSignIn {
        padding-left: 0;
    }
    
}
@media only screen and (max-width: 425px) {
    .headerSignInRow {
        padding: 15px 20px 0;
        height: 50px;
    }
    .faContact {
        color: #00CCAA;
    }
    
}
/* NAVBAR */
.navbarRow {
    padding: 0px 150px;
    background: white;
    border: none!important;
    margin-bottom: 0;
}
.navLogo {
    font-size: 4em;
    padding-top: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Caveat', cursive;
}
.menuItem {
    padding: 20px 15px!important;
    border-top: 5px solid transparent;
    color: rgb(31, 31, 31);
}
.menuItem:hover {
    background: #00CCAA!important;
    border-top: 5px solid #00AC8E!important;
    color: white;
}
.menuItemActive {
    background: #00CCAA!important;
    border-top: 5px solid #00AC8E!important;
    color: white;
}
@media only screen and (max-width: 768px) {
    .navbarRow {
        padding: 0px 20px;
    }
    .menuItem {
        font-size: 0.8em;
        padding: 20px 10px!important;
    }
    .navLogo {
        font-size: 3em;
    }
   
}
@media only screen and (max-width: 425px) {
    .menuPhone {
        padding: 12px 20px;
        border: 2px solid #00CCAA;
        border-radius: 1px;
    }
    .icon-bar {
        background:#00CCAA;
    }
    .menuItem {
        padding: 15px 15px!important;
        border-top: none;
    }
    .menuItem:hover {
        border-top: none!important;
    }
}
/* HEADER JUMBO */
.jumboContainer {
    background-image: url("img/photogrid.jpg");
    background-size: cover;
}
.jumboRow {
    background: rgb(0, 204, 170, 0.9);
    padding: 150px 0 50px;
}
.carouselItemWrapper {
    display: flex;
}
.jumboText {
    display: flex;
    justify-content: flex-end;
}
.jumboText h2 {
    font-size: 3em;
    color: rgb(241, 252, 250);
}
.jumboText p {
    font-size: 1.1em;
    color: rgb(207, 255, 248);
    font-weight: bold;
}

.universal {
    font-family: 'Caveat', cursive; 
    font-size: 5em!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.jumboText1 h3 {
    font-size: 2.4em;
    color: rgb(241, 252, 250);
    margin-top: 0!important;
}
.jumboText2 h2 {
    font-size: 1.8em;
    font-weight: bold;
}
.indicator2 {
    background-color: grey!important;
    width: 14px!important;
    height: 14px!important;
    margin: 0!important;
    border-radius: 20px!important;
    border: none!important;
}
.indicator2.active {
    background-color:white!important;
    width: 15px!important;
    height: 15px!important;
    margin: 0!important;
    
}
.jumboText4 h2 {
    font-size: 2.2em;
    color: rgb(241, 252, 250);
}
.jumboText4 p {
    font-size: 1.1em;
    color: rgb(207, 255, 248);
    font-weight: bold;
}
#myCarousel {
    height: 450px;
}
@media only screen and (max-width: 768px) {
    .jumboPic {
        height:250px;
    }
    .jumboText h2 {
        font-size: 2em;
    }
    .jumboText p {
        font-size: 1em;
    }
    .jumboText1 h3 {
        font-size: 2em;
    }
    .jumboText2 h2 {
        font-size: 1.2em;
    }
    .jumboText4 {
        justify-content: flex-start;
    }
    .jumboText4 h2 {
        font-size: 2em;
        color: rgb(241, 252, 250);
    }
    .jumboText4 p {
        font-size: 1em;
        color: rgb(207, 255, 248);
        font-weight: bold;
    }
    #myCarousel {
        height: 350px;
    }
}
@media only screen and (max-width: 425px) {
    .carouselItemWrapper {
        flex-direction: column;
    }
    .reverseRow {
        flex-direction: column-reverse!important;
    }
    .jumboText1, .jumboText2, .jumboText, .jumboText4 {
        text-align: center;
    }
    #myCarousel {
        height: 550px;
    }
   
}
/* INFO */
.infoRow {
    padding: 50px 0;
}
.infoBox {
    height: 330px;
    display: flex;
   align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
.infoIcon {
    border: 2px solid #00CCAA;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoBox h3 {
    color: #444749;
    font-size: 1.4em;
}
.infoIcon i {
    font-size: 1.8em;
    color: #00CCAA;
}
.infoP {
    font-size: 1.2em;
    color: #B9B9B9;
}
@media only screen and (max-width: 768px) {
.infoBox {
    height: 260px;
}    
    .infoRow {
        padding: 50px 30px;
    }
    .infoIcon {
        height: 60px;
        width: 60px;
    }
    .infoBox h3 {
        color: #444749;
        font-size: 1em;
    }
    .infoIcon i {
        font-size: 1.4em;
        color: #00CCAA;
    }
    .infoP {
        font-size: 0.9em;
        color: #B9B9B9;
    }
}
@media only screen and (max-width: 425px) {
    
}
/* TESTIMONIAL */
.testContainer {
    background-image: url("img/texture-bw.png");
}
.bottomLine {
    width: 100px;
    height: 2px;
    background:#00CCAA;
    margin: 0 auto;
}
.testRow {
padding: 50px 0px;
}
.testSub {
    font-size: 1.3em;
    margin: 40px 0;
    color: #494C4F;
} 
.sliderItemWrapper {
    padding-bottom: 70px;
}
.indicator {
    background-color: grey!important;
    width: 13px!important;
    height: 13px!important;
    margin: 0!important;
}
.indicator.active {
    background-color:#00CCAA!important;
    width: 14px!important;
    height: 14px!important;
    margin: 0!important;
    
}
.testSliderBoxWrapper {
    display: flex;
    justify-content: space-between;
}
.reverseRow {
    flex-direction: row-reverse;
}
.testSliderBox {
    width: 24%;
    height: 450px;
    background: white;
    padding: 25px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.testSliderBox p {
    color: #9D9D9D;
}
.sliderBoxBottomContent {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}
.boxBottomFa {
    font-size: 2.2em;
    width: 20%;
    margin-top: 10px;
    color: #00CCAA;
}
.boxBottomText {
    width: 47%;
}
.boxBottomText h4 {
    margin: 0;
}
.boxBottomText h5 {
    margin: 5px 0 0 0;
    font-size: 0.7em;
    color: #9D9D9D;
}
.boxBottomImg {
    width: 33%;
}
.boxBottomImg img {
    width: 70px;
}
@media only screen and (max-width: 768px) {
    .testRow {
        padding: 50px 40px;
        }
    .testSub {
        font-size: 1em;
    }
    .testSliderBox {
        padding: 10px 10px 0;
        height: unset;
    }
    .testSliderBox p {
        font-size: 0.8em;
    }
    .boxBottomFa {
        font-size: 1.5em;
    }
    .boxBottomImg img {
        width: 50px;
    }
    .boxBottomText h4 {
        font-size: 0.8em;
    }
    .boxBottomText h5 {
        font-size: 0.6em
    }
}
    @media only screen and (max-width: 425px) {
       .testSliderBox {
           width: 100%;
       }
       .boxBottomText {
        text-align: right;
    }
    }
/* MORE */
.moreFa {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    border: 3px solid white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moreFa i {
    color: white;
    font-size: 2.3em;
}
.moreRow {
    background-image: url("img/fixed-background-2.jpg");
    background-attachment: fixed;
}
.moreRow a {
    padding: 10px 15px;
    font-size: 1.8em;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.moreRow a:hover {
    background: white;
    color: #00CCAA;
}
.moreRow h2 {
    color: white;
    font-weight: bold;
}
.moreRow h3 {
    color: white;
    margin-bottom: 60px;
}
.moreRowOverlay {
    background: rgba(0, 0, 0, 0.3);
    padding: 60px 0;
}
@media only screen and (max-width: 768px) {
    .moreFa {
        height: 60px;
        width: 60px;
    }
    .moreFa i {
        font-size: 1.7em;
    }
    .moreRow a {
        font-size: 1.4em;
    }
    .moreRow h2 {
        font-size: 1.4em;
    }
    .moreRow h3 {
        font-size: 1em;
        margin-bottom: 30px;
    }
    .moreRow {
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .moreRowOverlay {
        padding: 40px 0;
    }
}
    @media only screen and (max-width: 425px) {
        
    }
/* CLIENT */
.clientRow {
    padding: 40px 0 60px;
    background: #E7EBEE;
}
.clientBox img {
    height: 90px;
    filter: grayscale(100%);
}
.clientBoxWrapper {
    margin-top: 30px;
}
.clientFlex {
    display: flex;
}
.mBottom20 {
    margin-bottom: 0;
}
.clientCInner {
    padding: 0 0 50px;
}
.width {
    width: 50%;
}
@media only screen and (max-width: 768px) {
    .clientBox img {
        height: 70px;
    }
}
    @media only screen and (max-width: 425px) {
        .clientBox {
            width: 50%;
        }
        .clientRow {
            padding: 40px 0 0px;
        }
        .mBottom20 {
            margin-bottom: 20px;
        }
    }
/* FOOTER */
.footer {
    background: #565656;
    padding: 60px 0;
}
.footerBox1 h4 {
    color: #CBCBCB;
}
.footerBox1 p {
    color: #8D8D8D;
}
.newsForm {
    border: none;
    border-radius: 1px;
}
.newsText {
    border: none;
    border-radius: 1px;
}
.newsText:focus {
    border: 2px solid #00CCAA;
}
.newsSpan {
    background: #838D95;
    border: none;
    border-radius: 1px;
}
.newsSpan a {
    color: white;
    font-size: 1.3em;
}
.footerBox2 ul {
    list-style:none;
    padding-left: 0;
}
.footerBox2 ul li {
    margin: 15px 0;
    color: #CBCBCB;
    display: flex;
    align-items: center;
}
.footerBox2 ul li img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}
.footerBox2 ul li a {
    text-decoration: none;
    color: #CBCBCB;
    padding-left: 5px;
} 
.footerBox2 h4 {
    color: #CBCBCB;
}
.footerBox3 h4 {
    color: #CBCBCB;
}
.footerBox3 p {
    color: #838D95;
    margin-bottom: 30px;
}
.footerBox3 a {
    font-size: 1.2em;
    background: #00AC8E;
    padding: 10px 15px;
    color: rgb(221, 221, 221);
    border-radius: 2px;
    text-decoration: none;
}
.footerBox4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footerImgBox {
    height: 90px;
    width: 90px;
}
.marginBottom10 {
    margin-bottom: 10px;
}
.designed {
    padding: 40px 0;
    background: #363636;
    color: #CBCBCB;
}
.designedBy {
    color: #00CCAA
}
@media only screen and (max-width: 768px) {
    .footerBox1 p{
        font-size: 0.8em;
        margin-bottom: 0;
    }
    .footerBox1 h4{
        font-size: 0.9em;
        margin-top: 0px;
    }
    .footerBox2 ul li a {
        font-size: 0.7em;
    }
    .footerBox3 {
        font-size: 0.8em;
    }
    .footerBox3 a {
        font-size: 0.9em;
    }
    .footerImgBox {
        height: 50px;
        width: 50px;
    }
    .designed {
        font-size: 0.8em;
        padding: 20px 0;
    }
}
    @media only screen and (max-width: 425px) {
        .footerImgBox {
            height: 100px;
            width: 100px;
        }
        .designed {
            text-align: center!important;
        }
    }